html {
   cursor:url(https://cdn.staticaly.com/gh/ayyHA/imageBed@main/cur/default.ani),
         default;
 }
 a,
 img {
   cursor:url(https://cdn.staticaly.com/gh/ayyHA/imageBed@main/cur/pointer.ani),
         default;
 }
 
 ::selection{
	cursor:url(https://cdn.staticaly.com/gh/ayyHA/imageBed@main/cur/text.ani),
		default;	
 }